
:root {
    --custom-primary: #A9FF36;
}

.wrapper__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrapper__loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
}

.wrapper__loader .loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(30deg * var(--i)));
}

.wrapper__loader .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--custom-primary);
    box-shadow: 0 0 10px var(--custom-primary), 
                0 0 20px var(--custom-primary),
                0 0 30px var(--custom-primary);
    animation: loading 1.2s ease-in infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.4);
    }
    80%, 100% {
        transform: scale(0);
    }
}